$main-color: #141414;
$sub-color1: #F56600;
$content-color: #333333;
$font-color: #e5e5e5;

.show_movie_content{
    margin-top: 100px;
    margin-bottom: 30px;
    
    & h2{
        margin-left: 70px;
    }
}

.movie_ranking_content{
    margin-top: 100px;
    margin-bottom: 30px;
    
    & h2{
        margin-left: 70px;
    }
}



.news_content{
    margin-top: 100px;
    margin-bottom: 30px;

    & .overflow-auto{
        
        background-color: $content-color !important;
        a{
            color: $font-color !important;   
        }
    }
}


.infomation_content{
    margin-top: 100px;
    margin-bottom: 150px;
    
}


.slider1{
    & img {
        margin:0 auto;
        display:block;
        width: 1200px;
        height: 480px;
        background: black;
    }

    & .slick-next{
        right: -60px;
    }
}
.slider2{
    padding-left: 40px;
    & img {
        margin: 5px auto;
        display:block;
        width: 250px;
        height: 330px;
        position:relative
    }

    & .slick-prev{
        left: 10px;
    }

    & .slick-next{
        right: -10px;
    }
    & .slick-prev,.slick-next{
        height: 40px;
    }
}

.slider3{
    padding-left: 40px;
    & img {
        margin: 5px auto;
        display:block;
        width: 250px;
        height: 330px;
        position:relative
    }

    & .slick-prev{
        left: 10px;
    }

    & .slick-next{
        right: -10px;
    }

    & .slick-prev,.slick-next{
        height: 40px;
    }
}

ul{
    padding-left:-40px !important;
}