$main-color: #141414;
$sub-color1: #F56600;
$content-color: #333333;
$font-color: #e5e5e5;

.show_movie_content{
    margin-top: 100px;
    margin-bottom: 30px;
    
    & h2{
        margin-left: 70px;
    }
}

.movie_ranking_content{
    margin-top: 100px;
    margin-bottom: 30px;
    
    & h2{
        margin-left: 70px;
    }
}



.news_content{
    margin-top: 100px;
    margin-bottom: 30px;

    & .overflow-auto{
        
        background-color: $content-color !important;
        a{
            color: $font-color !important;   
        }
    }
}


.infomation_content{
    margin-top: 100px;
    margin-bottom: 150px;
    
}


.slider1{
    & img {
        margin:0 auto;
        display:block;
        width: 1200px;
        height: 480px;
        background: black;
    }

    & .slick-next{
        right: -60px;
    }
}
.slider2{
    padding-left: 40px;
    & img {
        margin: 5px auto;
        display:block;
        width: 250px;
        height: 330px;
        position:relative
    }

    & .slick-prev{
        left: 10px;
    }

    & .slick-next{
        right: -10px;
    }
    & .slick-prev,.slick-next{
        height: 40px;
    }
}

.slider3{
    padding-left: 40px;
    & img {
        margin: 5px auto;
        display:block;
        width: 250px;
        height: 330px;
        position:relative
    }

    & .slick-prev{
        left: 10px;
    }

    & .slick-next{
        right: -10px;
    }

    & .slick-prev,.slick-next{
        height: 40px;
    }
}

ul{
    padding-left:-40px !important;
}

.conA{
    display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 450px;
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("/static/images/cinema-4609877_1920.png");
	background-position: center;
	background-size: cover;
	color: #fff;
	color: var(--text-bright-color);
    text-align: center;
    
    & h1 {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        letter-spacing: 0.2em;
        margin-left: 0.2em;
    }

    & p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
    }

    & img {
        width: 20%;
    }

    & a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 30px;
        border: solid 3px currentColor;
        border-radius: 6px;
        background-color: #BF6A7A !important;
        background-color: var(--accent-color);
        color: #fff !important;
        color: var(--text-bright-color);
        font-size: 18px;
        text-decoration: none;

        & :hover{
            background-image: linear-gradient(
                rgba(255,255,255,0.2),
                rgba(255,255,255,0.2)
            );
        }
    }

    @media (min-width: 768px) {
        .conA h1 {
            font-size: 115px;
        }
    
        .conA p {
            font-size: 24px;
        }
    }
}