{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'css/index.css'%}">
<script>
  jQuery(document).ready(function ($) {
    $('.slider1').slick({
      autoplay: true,
      dots: true,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1
    });
  });
</script>
<script>
  jQuery(document).ready(function ($) {
    $('.slider2').slick({
      dots: true,
      autoplay: true,
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 6
    });
  });
</script>
<script>
  jQuery(document).ready(function ($) {
    $('.slider3').slick({
      dots: true,
      autoplay: true,
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 6
    });
  });
</script>
{% endblock customcss %}
<title>作品一覧</title>
{% block header %}
{% endblock header %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    <div class="top_image_content">
      <ul class="slider1">
        <li><a href="{% url 'readme' %}"><img src="{% static 'images/cinema-4609877_1920.png'%}" alt=""></a></li>
        <li><a href="{% url 'readme' %}"><img src="{% static 'images/film-1668918_1920.png'%}" alt=""></a></li>
        <li><a href="{% url 'readme' %}"><img src="{% static 'images/camera-219958_1280.png'%}" alt=""></a></li>
        <li><a href="{% url 'readme' %}"><img src="{% static 'images/movie-918655_1920.png'%}" alt=""></a></li>
      </ul>
    </div>
  </div>
  <div class="show_movie_content">
    <h2>公開中の映画</h2>
    <ul class="slider2 text-center">
      {% for movie_object in movie_object_list %}
      <li><a href="{% url 'movie_detail' movie_object.pk %}"><img src="{{movie_object.images.url}}" alt=""></a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="movie_ranking_content">
    <h2>ランキング</h2>
    <ul class="slider3 text-center">
      {% for movie_object in ranking_list %}
      <li><a href="{% url 'movie_detail' movie_object.pk %}"><img src="{{movie_object.images.url}}" alt=""></a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    <div class="news_content">
      <h2>NEWS</h2>
      <div class="overflow-auto" style="max-height: 200px; background-color: white;">
        {% for movie_object in movie_object_list %}
        <a href="{% url 'movie_detail' movie_object.pk %}">{{movie_object.title}}</a><br>
        {% endfor %}
      </div>
    </div>
    <div class="infomation_content">
      <h2>Infomation</h2>
      <div class="row">
        <div class="col"><img class="img-fluid" style="max-height:400px; max-width:300px;"
            src="{% static 'images/drink.png'%}"></div>
        <div class="col"><img class="img-fluid" style="max-height:400px; max-width:300px;"
            src="{% static 'images/icecream.png'%}"></div>
        <div class="col"><img class="img-fluid" style="max-height:400px; max-width:300px;"
            src="{% static 'images/foodmenu.png'%}"></div>
        </row>
      </div>
    </div>
  </div>
  {% endblock content %}

  {% block footer %}
  {% endblock footer %}