{% extends 'base.html' %}
{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
<form class="form-login" method="POST" action=''>{% csrf_token %}
  <div class="container">
    <div class="alert alert-dark p-4" role="alert">
      <h1 class="h3 mb-4 font-weight-normal">Please login</h1>
      {% if error %}
      {{ error }}
      {% endif %}
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" name="username" placeholder="username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
      <button class="btn btn-lg btn-primary btn-block" type="submit"><a href="{% url 'guest_login' %}"></a>guest login</button>
    </div>
  </div>
</form>
{% endblock content %}
