{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <div class="alert alert-dark p-4" role="alert">
        <table class="table table-striped table-bordered mydatatable bg-light" style="width:100%;">
            <thead>
                <tr>
                    <th>映画タイトル</th>
                    <th>上映日時</th>
                    <th>座席</th>
                    <th>価格</th>
                </tr>
            </thead>
            <tbody>
                {% for item in movie_history_list %}
                <tr>
                    <td>{{ item.schedule_model.movie_detail_model.title }}</td>
                    <td>{{ item.schedule_model.show_date }}</td>
                    <td>{{ item.schedule_model.seat_name }}</td>
                    <td>{{ item.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>映画タイトル</th>
                    <th>上映日時</th>
                    <th>座席</th>
                    <th>価格</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    $('.mydatatable').DataTable();

</script>
{% endblock content %}

            <p>映画タイトル：{{ item.schedule_model.movie_detail_model.title }}</p>
            <p>鑑賞日時：{{ item.schedule_model.show_date }}</p>
            <p>座席：{{ item.schedule_model.seat_name }}</p>
            <p>価格：{{ item.price }}</p>