{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <div class="alert alert-dark" role="alert">
        <p><h3 class="mb-4">登録者情報</h3></p>
        <p>ユーザー名：{{ object.name }}</p>
        <p>生年月日：{{ object.birthday }}</p>
        <p>電話番号：{{ object.tel }}</p>
        <p>住所：{{ object.address }}</p>
        <p>所持ポイント：{{ object.point }}</p>
        <p><a class="btn btn-primary btn-lg mt-4" href="{% url 'member_update' user.pk %}">会員情報の変更</a></p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'member_history' object.pk %}">映画の鑑賞履歴</a></p>
    </div>
</div>
{% endblock content %}
