{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
{% endblock header %}

{% block content %}
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div class='container' id="app">
　<p style="margin:0 0 0 300px !important;">映画タイトルを検索</p>
  <input type="text" placeholder="タイトル検索" v-model="search" style="margin:0 0 0 300px !important;">
  <h1 class="m-4" style="margin-left:300px !important;">上映中作品</h1>
  <div class="card-columns" style="column-count: 4;">
    <div v-for="b in filteredList">
      <a v-bind:href="'/movie/detail/'+b.id+'/'">
        <div class="card m-3 mx-auto">
          <img class="card-img-top" v-bind:src="'/media/'+b.images" alt="ライトコースのイメージ画像" height="400px">
          <hr>
          <div class="card-body p-0">                                                                                    
            <h5 class="card-title" style="color:black;">[[b.title]]</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<script>
  var app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      todos: [],
      search: '',
    },
    mounted: function () {
      axios.get('{% url "vue_movie_list" %}')
        .then(function (response) {
          for (var d in response.data) {
            app.todos.push(response.data[d]);
          }
        })
        .catch(function (error) {
        })
        .then(function () {});
    },
    computed: {
      filteredList: function () {
        return this.todos.filter(function (b) {
          return b.title.indexOf(this.search) > -1;
        }, this)
      },
    },
  })
</script>
{% endblock content %}
